body {
    font-family: 'Roboto', sans-serif;
    background-color: #f6f6f6;
}

h1 {
    color: greenyellow;
}

h2 {
    color: #D36DC5;
    margin: 1em;
}

.navbar {
    background-color: rgba(255, 255, 255, 0) !important;
}

.items {
    position: relative;
    padding-right: 55px;
}

.nav-item {
    padding: 0 5px;
    font-size: 1.1em;
}

.navbar-nav {
    text-align: right;
}

.navbar-brand {
    font-size: 30px !important;
    font-family: 'Domine', serif;
    font-weight: bold;
    color: rgb(29, 29, 29) !important;
    position: relative;
    padding-left: 35px;
}

.chart {
    max-height: 10px;
}

.pie {
    position: relative;
    border-radius: 6%;
    background-color: #fffdf9;
    height: 450px;
    top: 90px;
    left: 30px;
}

.donut-chart {
    position: relative;
    left: -125px;
    top: -75px;
}

.shadow {
    box-shadow: 0 7px 15px 4px #00000015;
}

.gantt-chart {}

.gantt {
    border-radius: 6%;
    background-color: #fffdf9;
    height: 450px;
    max-width: 650px;
    top: 90px;
    left: -20px;
}