body {
    font-family: 'Roboto', sans-serif;
    background-color: #f6f6f6;
}

h1 {
    color: greenyellow;
}

h2 {
    color: #D36DC5;
    margin: 1em;
}

.navbar {
    background-color: rgba(232, 89, 79, 0.747) !important;
}

.items {
    position: relative;
    padding-right: 55px;
}

.nav-item {
    padding: 0 5px;
    font-size: 1.1em;
}

.navbar-nav {
    text-align: right;
}

.navbar-brand {
    font-size: 30px !important;
    font-family: 'Domine', serif;
    font-weight: bold;
    color: #f6f6f6 !important;
    position: relative;
    padding-left: 35px;
}

.chart {
    max-height: 10px;
}

.pie {
    position: relative;
    border-radius: 2%;
    background-color: #fffdf9;
    height: 450px;
    top: 90px;
    left: 30px;
}

.donut-chart {
    position: relative;
    left: -125px;
    top: -75px;
}

.shadow {
    box-shadow: 0 7px 15px 4px #00000015;
}

.shadow1 {
    box-shadow: 0 2px 15px 4px rgba(19, 19, 19, 0.089);
}

.gantt-chart {}

.gantt {
    border-radius: 2%;
    background-color: #fffdf9;
    height: 450px;
    max-width: 650px;
    top: 90px;
    left: -20px;
}

.overview {
    position: relative;
    top: 100 px;
    height: 180px;
    max-width: 21%;
    border-radius: 2%;
    margin: 2%;
}

.avg {
    align-items: center;
}

#chart_div {
    height: 350px;
    width: 650px;
    top: -70px;
    left: -20px;
}